<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <commands>
      <command patch:instead="*[@type='Sitecore.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.XA.Foundation.Grid']" name="webedit:showgridparameterersdialog" type="Sitecore.Support.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.Support.11680"/>
    </commands>
    <pipelines>
      <getFrontEndLayoutDefinition>
        <processor patch:instead="*[@type='Sitecore.XA.Feature.Composites.Pipelines.GetFrontEndLayoutDefinition.InjectCompositeComponents, Sitecore.XA.Feature.Composites']" type="Sitecore.Support.XA.Feature.Composites.Pipelines.GetFrontEndLayoutDefinition.InjectCompositeComponents, Sitecore.Support.11680" resolve="true"/>
      </getFrontEndLayoutDefinition>
    </pipelines>
  </sitecore>
</configuration>