<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <commands>
      <command patch:instead="*[@type='Sitecore.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.XA.Foundation.Grid']" name="webedit:showgridparameterersdialog" type="Sitecore.Support.XA.Foundation.Grid.Commands.ShowGridPropertiesDialog, Sitecore.Support.11680"/>
    </commands>
  </sitecore>
</configuration>