<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="8.2.6" targetFramework="net452" />
  <package id="SC.Sitecore.ExperienceEditor" version="8.2.6" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.6" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Common" version="1.6.0" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Grid" version="1.6.0" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.SitecoreExtensions" version="1.6.0" targetFramework="net452" />
</packages>